.employee_sentence {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #4964e9;
}

.employee_sentence:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
}