.postjob_body {
    margin: 0;
    background-color: rgb(247, 248, 251);
}

.container {
    box-sizing: content-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.landing_sentence1 {
    margin: 0;
    font-size: 21px;
    color: #2e3849;
    font-weight: 600;
    line-height: 28px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.landing_sentence2 {
    font-size: 16px;
    color: #2e3849;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.landing_sentence3 {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #2e3849;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}

.create_btn {
    background: #e60278;
    outline: none;
    border: none;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}

.create_btn:hover {
    background: #fd0585;
    cursor: pointer;
}

.create_btn:active {
    background: #cd026b;
    transform: scale(0.95);
}

.company_nav_active::after {
    background: white;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 20px;
    position: absolute;
    right: 20px;

}

.company_nav_active {
    font-weight: 600 !important;
}

.logo {
    padding-right: 24px;
}

.logo-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-nav nav ul {
    display: flex;
    gap: 20px;
}

.postjob_header {
    background-color: rgb(24, 77, 168);
    height: 70px;
    /* Adjust this value as needed */
}

.header-link {
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.header-link a {
    padding: 0 20px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-link a:hover,
.header-link a:focus {
    background: rgba(28, 28, 28, .18);
    text-decoration: underline;
}

.rotated {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    transition: transform .3s ease;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.form-group label {
    margin-right: 10px;
}

.form-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-style {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: white;
    width: 627px;
    /* Adjust this value as needed */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    /* Add this line */
}

.add_button {
    margin-left: 12px;
    max-width: 200px;
    align-items: center;
    display: flex;
}

.create_job_link {
    width: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: white;
    border: 1px solid #fff;
    /* Change the color as needed */
    border-radius: 4px;
    display: inline-block;
    /* Add this to make the border wrap the content */
    padding: 10px 20px;
    /* Add some padding to give space between the border and the text */
    text-decoration: none;
    /* Remove the underline from the link */
    transition: transform .125s ease, opacity .125s ease;
}

.create_job_link:hover {
    background: hsla(0, 0%, 100%, .15);
}

.create_job_link:active {
    transform: scale(0.95);
    transition: transform .125s ease, opacity .125s ease;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    z-index: 1;
    text-align: left;
    background-color: white;
    /* Change the border color to grey */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Add this line */
    top: 60px;
    padding: 24px;
}

.dropdown-content a {
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #4964e9;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    height: 20px;
    line-height: 24px;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.companyName {
    font-weight: 700;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: black;
}

.contactPerson {
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.dropdown-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.joblistbtn {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.joblisttitle {
    font-size: 16px;
    color: #5a6881;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.joblistbtn:hover .joblisttitle {
    color: #2e3849;
}

.joblistbtn.active .joblisttitle {
    color: #4964e9;
}

.button-container {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.joblistbtn {
    transition: all 0.3s ease;
}

.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #4964e9;
    /* Change to your desired underline color */
    width: 0;
    transition: all 0.3s ease;
}


.landing_sentence1 {
    margin: 0;
    font-size: 21px;
    color: #2e3849;
    font-weight: 600;
    line-height: 28px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.landing_sentence2 {
    font-size: 16px;
    color: #2e3849;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.landing_sentence3 {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #2e3849;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}

.input-box {
    width: 578.672px;
    height: 24px;
    padding: 10px 12px;
    border: 0.5px solid rgb(46, 56, 73);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 24px;
}

.input-box:hover {
    border-color: blue;
}

.input-box:focus {
    border-color: blue;
    border: 0.5px solid blue;
    outline: 3px solid #BCC8F8;
}

.input-box::placeholder {
    color: grey;
    font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
    font-size: 16px;
}


.create_btn {
    background: #e60278;
    outline: none;
    border: none;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}

.create_btn:hover {
    background: #fd0585;
    cursor: pointer;
}

.create_btn:active {
    background: #cd026b;
    transform: scale(0.95);
}


.th_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #2e3849;
    padding: 5px 24px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.td_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #2e3849;
    padding: 12px 24px;
    text-align: left;
}

.draft-box {
    background-color: #fef8de;
    padding: 4px 8px;
}

.draft-text {
    color: #723d02 !important;
    font-size: 12px;
    font-weight: 600;
}

.active-box {
    background-color: #defee0;
    padding: 4px 8px;
}

.active-text {
    color: #027236 !important;
    font-size: 12px;
    font-weight: 600;
}

.blocked-box {
    background-color: #fee0de;
    padding: 4px 8px;
}

.blocked-text {
    color: #720202 !important;
    font-size: 12px;
    font-weight: 600;
}

.closed-box {
    background-color: #e0e0e0;
    padding: 4px 8px;
}

.closed-text {
    color: #262626 !important;
    font-size: 12px;
    font-weight: 600;
}

.process-box {
    background-color: #d0e8ff;
    padding: 4px 8px;
}

.process-text {
    color: #002b72 !important;
    font-size: 12px;
    font-weight: 600;
}

.td_job_link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: underline;
    color: #2e3849;

}

.td_job_link:hover {
    color: #2765cf;
}

.listlink {
    cursor: pointer;
    color: black;
}

.hidden {
    display: none;
}

.content-div {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.spansearchicon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divsearchicon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: none;
}

.continue_job_link {
    width: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #4964e9;
    border: 1px solid #4964e9;
    /* Change the color as needed */
    border-radius: 4px;
    display: inline-block;
    /* Add this to make the border wrap the content */
    padding: 10px 20px;
    /* Add some padding to give space between the border and the text */
    text-decoration: none;
    /* Remove the underline from the link */
    transition: transform .125s ease, opacity .125s ease;
}

.continue_job_link:hover {
    background: #e8ecfd;
}

.continue_job_link:active {
    transform: scale(0.95);
    transition: transform .125s ease, opacity .125s ease;
    background-color: #dde3fc;
}

.applicant_email {
    text-decoration: none;
    color: #2e3849;
}

.applicant_email:hover {
    text-decoration: none;
    color: black;
}

/* CSS */
.sidebar {
    height: 100%;
    width: 1000px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(247, 248, 251);
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(1000px);
    /* Initially move the sidebar off-screen */

}

.sidebar.open {
    transform: translateX(0);
    /* Move the sidebar back to its original position when it's open */
}

.no-scroll {
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

/* .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */

/* .sidebar a:hover {
    color: #f1f1f1;
} */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.a-link {
    text-decoration: none;
}

.a-link:hover {
    color: black;
}


.cont-button {
    background-color: rgb(73, 100, 233);
    width: 104.609px;
    height: 45.0156px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    word-spacing: 0px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}

.cont-button:hover {
    background-color: #5975FF;
}

.cont-button:active {
    background-color: #3251E6;
    transform: scale(0.95);
}

.save-button {
    background-color: transparent;
    width: 104.609px;
    height: 45.0156px;
    color: rgb(73, 100, 233);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    word-spacing: 0px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}

.save-button:hover {
    background-color: #E8ECFD;
}

.save-button:active {
    background-color: #DDE3FC;
    transform: scale(0.95);
}

.question_options {
    width: 100%;
    /* Take up the full width of the container */
    padding-top: 15px;
}

.question_options input {
    padding-left: 20px;
    /* Add left padding */
}

.option {
    font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-left: 8px;
    padding-top: 10px;
}

.job_question {
    font-family: "Roboto", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}

input[type='radio'] {
    transform: scale(2.0);
}

.applicantCount {
    font-size: 16px;
    color: #2e3849;
    font-weight: 600;
    line-height: 24px;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
}

.page-button {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #4964e9;
    border: none;
    background: none;
    cursor: pointer;
}

.page-button:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
}

.pagination {
    padding-top: 10px;
    text-align: right;
}

.current-page {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;

}

.sorting_asc {
    background: none;
    border: none;
    width: 10px;
    height: 10px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.sorting_desc {
    background: none;
    border: none;
    width: 10px;
    height: 10px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}