.employee_sentence {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #4964e9;
}

.employee_sentence:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
}

.backsvg {
    width: 20px;
    height: 20px;
    color: #4964e9;
    transform: rotate(90deg);
    padding-top: 5px;
}

.card {
    border: 1px solid #d2d7df;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card input[type="radio"] {
    display: none;
}

.card.selected {
    border-color: #4964e9;
}